[workspace]
members = ["macros"]

[workspace.dependencies]
wayland-client = "0.31.2"
wayland-protocols = "0.32.0"
wayland-scanner = "0.31.1"
wayland-server = "0.31.1"
rustix = "0.38.31"

[workspace.lints.clippy]
all = "deny"

[package]
name = "xwayland-satellite"
version = "0.6.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["lib"]

[dependencies]
bitflags = "2.5.0"
rustix = { workspace = true, features = ["event"] }
wayland-client.workspace = true
wayland-protocols = { workspace = true, features = ["client", "server", "staging", "unstable"] }
wayland-scanner.workspace = true
wayland-server.workspace = true
xcb = { version = "1.3.0", features = ["composite", "randr", "res"] }
wl_drm = { path = "wl_drm" }
libc = "0.2.153"
log = "0.4.21"
env_logger = "0.11.3"
pretty_env_logger = "0.5.0"
slotmap = "1.0.7"
xcb-util-cursor = "0.3.2"
smithay-client-toolkit = { version = "0.19.1", default-features = false }

sd-notify = { version = "0.4.2", optional = true }
macros = { version = "0.1.0", path = "macros" }

[features]
default = []
systemd = ["dep:sd-notify"]

[dev-dependencies]
rustix = { workspace = true, features = ["fs"] }
testwl = { path = "testwl" }

[build-dependencies]
anyhow = "1.0.98"
vergen-gitcl = "1.0.8"
