[workspace]
members = ["macros", "testwl"]

[workspace.dependencies]
wayland-client = "0.31.2"
wayland-protocols = "0.32.0"
wayland-scanner = "0.31.1"
wayland-server = "0.31.1"
rustix = "0.38.31"

[workspace.lints.clippy]
all = "deny"

[workspace.package]
rust-version = "1.83.0"

[package]
name = "xwayland-satellite"
version = "0.6.0"
edition = "2021"
rust-version.workspace = true

[lints]
workspace = true

[lib]
crate-type = ["lib"]

[dependencies]
bitflags = "2.5.0"
rustix = { workspace = true, features = ["event"] }
wayland-client.workspace = true
wayland-protocols = { workspace = true, features = ["client", "server", "staging", "unstable"] }
wayland-server.workspace = true
xcb = { version = "1.3.0", features = ["composite", "randr", "res"] }
wl_drm = { path = "wl_drm" }
log = "0.4.21"
env_logger = "0.11.3"
pretty_env_logger = "0.5.0"
xcb-util-cursor = "0.3.2"
smithay-client-toolkit = { version = "0.19.1", default-features = false }

sd-notify = { version = "0.4.2", optional = true }
macros = { version = "0.1.0", path = "macros" }
hecs = { version = "0.10.5", features = ["macros"] }

[features]
default = []
systemd = ["dep:sd-notify"]

[dev-dependencies]
rustix = { workspace = true, features = ["fs"] }
testwl = { path = "testwl" }

[build-dependencies]
anyhow = "1.0.98"
vergen-gitcl = "1.0.8"

[profile.ci]
inherits = "dev"
# Shrink bloat in ./target which negatively affects build caching
incremental = false
debug = false
