[package]
name = "macros"
version = "0.1.0"
edition = "2021"
rust-version.workspace = true

[lints]
workspace = true

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0.95"
quote = "1.0.37"
syn = { version = "2.0.79", features = ["full"] }
